{% extends 'base.html.twig' %}

{% block title %}Help index{% endblock %}

{% block body %}
<fieldset class="indiceFieldset">
    <legend>Les indices du défi {{ challenge.id }}</legend>
    <table class="indice_table">
        {% for help in helps %}
            {% if help.challenge.id == challenge.id %}
                <tr>
                    <td class="td_num_indice">Indice {{ help.numberHelp }} : </td>
                    <td class="td_content">{{ help.contentHelp }}</td>
                    <td class="td_modify">
                        <a href="{{ path('help_edit', {'id': help.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</fieldset>




{% endblock %}
