{% extends 'base.html.twig' %}

{% block title %}New Help{% endblock %}

{% block body %}

    {{ include('help/_form.html.twig') }}

    <a href="{{ path('help_index') }}">back to list</a>
{% endblock %}
