{% extends 'base.html.twig' %}

{% block title %}New Help{% endblock %}

{% block body %}
    {% for message in app.flashes('notification') %}
        <div class="alert alert-info alert-dismissible fade show">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}

    {{ include('help/_form.html.twig') }}

    <a href="{{ path('help_index') }}">back to list</a>
{% endblock %}
