{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur Les DixFi de Thymio {{ name }}!
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <h1 style="color: black;">Bienvenue sur les Dix'Fi de Thymio !  </h1>
    <div> <img id="imgThymio" src="{{ asset('images/thymio-white.png') }}" alt="Robot_Thymio"></div>


{% endblock %}
