{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur Les DixFi de Thymio {{ name }}!
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="context">
    <h4> Découvrez l'univers de la programmation à travers Thymio</h4>
    <div> <img id="imgThymio" src="{{ asset('images/thymio-colors.jpg') }}" alt="Robot_Thymio"></div>
</div>
{% endblock %}
