{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur Les DixFi de Thymio {{ name }}!
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <h3 class="titleGuide">Bienvenue sur les Dix'Fi de Thymio !  </h3>
    <div> <img id="imgThymio" src="{{ asset('images/thymio-white.png') }}" alt="Robot_Thymio"></div>


{% endblock %}