<form method="post" action="{{ path('teacher_delete')}}"
      onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce compte ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.username) }}">

    <div class="buttonMargin">
        <button class="btnR">Supprimer mon compte</button>
    </div>
</form>
