
{% for statusSolo in status %}
<fieldset class="formValidate">
<div>
    <p> Le défi n°{{ statusSolo.challenge.id }} <i>«{{ statusSolo.challenge.name }}»</i> est en attente de validation. Le mail avec la solution du groupe vous a été envoyé le : <i>{{ statusSolo.submittedAt|date('Y-m-d H:i:s')}}</i></p>
</div>

<form method="post" action="{{ path('validate', {'id': statusSolo.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir valider ce défi?');">
    <div class="buttonStartChallenge">
    <button class="btn btn-success">Valider </button>
    </div>
</form>
</fieldset>
{% else %}
    <p> Aucun Défi à valider </p>
{% endfor %}


