{% extends 'base.html.twig' %}

{% block title %}New Teacher{% endblock %}

{% block body %}
    <h1>Create new Teacher</h1>
    {# nous testons si la variable message existe #}
    {% if message is defined %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endif %}

    {{ include('teacher/_form.html.twig') }}

    <a href="{{ path('teacher_index') }}">back to list</a>
{% endblock %}
