{% extends 'base.html.twig' %}

{% block title %}Création d'un compte Enseignant{% endblock %}

{% block body %}
    {# nous testons si la variable message existe #}
    {% if message is defined %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endif %}
    <fieldset class="formInscription">
    <legend class="legendInscription">Création d'un compte Enseignant</legend>

    {{ include('teacher/_form.html.twig') }}
    </fieldset>
    <a href="{{ path('teacher_index') }}">back to list</a>
{% endblock %}
