@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    box-sizing: border-box;
}

html {
    height: auto;
    margin: 0;
    padding: 0;
}

body {
    background-color: #5FB1EE;
    text-align: center;
}

.bodyContent{
    padding-bottom: 8%;
}

h1 {
    color: white;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-top: 2%;
}

.h1title {
    color: white;
    font-size: 42px;
    font-variant: all-small-caps;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-top: 2%;
}

.h2title {
    color: black;
    font-size: 35px;
    font-variant: all-small-caps;
    letter-spacing: 1px;
    word-spacing: 4px;
    padding-top: 4%;
    margin-bottom: 10%;
}

.h3title {
    color: #1aa651;
    font-size: 35px;
    font-variant: all-small-caps;
    letter-spacing: 1px;
    word-spacing: 4px;
    padding-top: 10%;
    margin-bottom: 10%;
}

h3{
    color: #1aa651;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2%;
}

h1:hover {

}

.helpHr{
    margin: 1% 15% 3% 15%;
    border: 2px double white;
}


.nav-item {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.error {
    font-style: italic;
    color: red;
}

#menu_navbar a:hover {
    cursor: pointer;
}


a:hover {
    color: #3d8b40;
}

#profilIcone {
    width: 4%;
    float: right;
}

.introButton {
    font-size: 15px;
    margin-top: 4%;
}


.formInscription {
    margin: 2% auto;
    border-radius: 12px;
    background-color: #e57373;
    text-align: center;
    font-weight: bold;
    padding-bottom: 2%;
    width: 50%;
}

.formInscription2 {
    margin: 2% auto;
    border-radius: 12px;
    background-color: #ef9a9a;
    text-align: center;
    font-weight: bold;
    width: 40%;
    padding-bottom: 2%;
}

.formInscription3 {
    margin: 2% auto;
    border-radius: 12px;
    background-color: #ffe6e6;
    text-align: center;
    font-weight: bold;
    width: 35%;
    padding-bottom: 2%;
}

.formListG{
    margin: 2% auto;
    border-radius: 12px;
    background-color: #e57373;
    text-align: center;
    font-weight: bold;
    width: 60%;
    padding-bottom: 2%;
}

.formG{
    margin: 2% auto;
    border-radius: 12px;
    background-color: #e57373;
    text-align: center;
    font-weight: bold;
    width: 25%;
    padding-bottom: 2%;
}

.legendInscription {
    font-size: 18px;
    color: white;
    padding: 2px;
    border-radius: 10px;
    background-color: #f44336;
}

.challengeH1{
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    color: #b71b1b;
    font-size: 24px;
}


#descriptionIndex{
    margin: 7% 7% auto;
    border: 3px solid #3b87c1;
    border-radius: 12px;
    background-color: white;
    text-align: justify;
    padding: 4%;
    font-size: 16px;
}


#imgThymio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
    margin-top: 2%;
    border-radius: 20px;
}


#weekThymio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 2%;
    border-radius: 20px;
}

.thymioChallenge {
    margin: 3% 22% 3% 22%;
    border: 3px solid #3b87c1;
    border-radius: 12px;
    background-color: white;
    text-align: justify;
    font-weight: bold;
    padding: 2%;
}

.formValidate {
    margin: 1% 10% 3% 10%;
    border: 2px solid #3b87c1;
    border-radius: 12px;
    background-color: white;
    text-align: justify;
    padding: 2%;
}

.legendValidation {
    margin-left: 1%;
    margin-right: 1%;
    font-size: 18px;
    text-align: center;
    color: white;
    padding: 5px;
    border: 1px solid #0c5fb8;
    background-color: #1b5abe;
    border-radius: 10px;
    width: 80%;
}


.descriptionThymio {
    background-color: #d22b2b;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-variant: all-small-caps;
}

.buttonStartChallenge {
    margin-bottom: 3%;
    text-align: center;
}

.buttonMargin{
    margin: 2%;
    text-align: center;
}

.titleChallenge {
    font-variant: all-small-caps;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.solutionThymio {
    background-color: #ffffff;
    margin: 3% 22% 3% 22%;
    border: 2px solid #2076cd;
    border-radius: 12px;
}

.solutionDescription {
    text-align: justify;
    margin: 2% 18% 2% 18%;
    font-weight: bold;
    font-size: 15px;
}


.tableValidate {
    text-align: center;
    margin: auto;
    border-color: black;
}

#span_txt2{
    font-style: italic;
}

.messageTeacher{
    background-color: white;
    border-radius: 10px;
    color: #9b1717;
    padding: 4px;
    margin-bottom: 6%;

}

.imageSolution {
    width: 58%;
}

.form_table {
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;

}

.form_table2 {
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 65%;

}

.td_field2 {
    vertical-align: text-top;
    font-size: 16px;
    text-align: left;
    padding: 10px;
    width: 62%;
}

.td_label {
    vertical-align: text-top;
    font-size: 16px;
    text-align: left;
    margin-left: 100px;
    padding: 5px;
}

.td_label2 {
    width: 16%;
    vertical-align: top;
    font-size: 16px;
    padding: 5px;
    text-align: left;
}

.td_label3 {
    vertical-align: text-top;
    font-size: 16px;
    text-align: left;
    margin-left: 100px;
    padding: 5px;
}

.td_label4 {
    vertical-align: text-top;
    color: white;
    width: 20%;
    font-size: 18px;
    text-align: center;
    margin-left: 100px;
    padding: 5px;
}

.td_label4 {
    vertical-align: top;
    font-size: 16px;
    padding: 5px;
    text-align: left;
}


.form_label {
    vertical-align: text-top;
    font-size: 18px;
    text-align: left;
    margin-left: 100px;
    padding: 5px;
}

.form_label2 {
    vertical-align: text-top;
    font-size: 18px;
    text-align: left;
    padding: 5px;
    margin-left: 70px;
}

.form_field {
    padding: 5px;
    font-family: inherit;
    width: 80%;
    border-radius: 10px;
    background-color: white;
    outline: none;
    height: 40px;
    border: 1px solid #0066ff;
}

.form_field2 {
    font-family: inherit;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #0066ff;
    background-color: white;
}

.form_field3 {
    font-family: inherit;
    width: 100%;
    height: 150px;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid red;
    background-color: white;
}

.form_field:focus {
    outline: 0;
    box-shadow: none;
    border: 3px solid red;
}

.form_field2:focus {
    outline: 0;
    box-shadow: none;
    border: 3px solid red;
}

.form_field3:focus {
    outline: 0;
    box-shadow: none;
    border: 3px solid red;
}


.context {
    width: 100%;
    height: auto;
    position: absolute;
    top: 15vh;
}

.area {
    background: #5FB1EE;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 90vh;

}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -10px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-duration: 5s;
    animation-delay: 2s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-duration: 5s;
    animation-delay: 3s;

}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 2s;
    animation-duration: 5s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-duration: 7s;
    animation-delay: 4s;

}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-duration: 7s;
    animation-delay: 1s;

}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-duration: 7s;

}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;

    animation-duration: 5s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-duration: 8s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-duration: 8s;
}

.circles li:nth-child(11) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-duration: 8s;
}

.circles li:nth-child(12) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-duration: 8s;
}


@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.showChallenge {
    background-color: white;
    text-align: justify;
    margin: 3% auto;
    border-radius: 20px;
    font-size: 16px;
    padding: 2% 3% 2% 3%;
    width: 80%;
}

fieldset.showChallenge legend {
    background-color: #0B75C9;
    text-align: center;
    color: white;
    border-radius: 20px;
    padding: 2%;
    margin: 4% auto;
    width: 60%;
}

.showChallenge2{
    background-color: white;
    text-align: center;
    margin: 4% 25% 2% 25%;
    border-radius: 20px;
    font-size: 16px;
    padding: 3%;
}


fieldset.showChallenge2 legend {
    background-color: #0B75C9;
    text-align: center;
    color: white;
    border-radius: 20px;
    padding: 2%;
    margin: 2% auto;
    width: 40%;
}

.card {
    color: white;
    width: 18rem;
    margin: 1% auto;
    background-color: #5db1ef;
    border-radius: 20px;
}

.card_deblocage{
    color: white;
    background-color: #5db1ef;
    border-radius: 20px;
}

.card-title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.card-body{
    text-align: justify;
    font-size: 16px;
    padding: 10%;
}

#correction{
    width: 50%;
    height: auto;
    margin-top:50px;
    margin-bottom: 50px;
    display: none;
}

#num1{
    display: none;
}
#num2{
    display: none;
}
#num3{
    display: none;
}
#num4{
    display: none;
}

.challenge_container {
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
}

.deblocage_container {
    padding: 2%;
}

.bodyPDF{
    background-color: white;
}

.objectifPDF{
    background-color: #5FB1EE;
    color:white;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 4%;
}

.imageSolutionPDF{
    width: 100%;
}
.solutionThymioPDF {
    background-color: #c4efc4;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #3d922d;
    border-radius: 12px;
    width: 80%;

}

.divBody {
    margin-bottom: 10%;
}

.userGuide{
    margin: 3% 8% 3% 8%;
    border: 3px solid #9b1717;
    border-radius: 12px;
    background-color: white;
    text-align: justify;
    padding: 2% 4% 2% 4%;
}

.legendUserGuide{
    font-size: 18px;
    text-align: center;
    color: white;
    padding: 2px;
    border: 1px solid #701920;
    background-color: #be1b20;
    border-radius: 10px;
}

.titleGuide{
    padding: 8px;
    background-color: #003e80;
    margin:2% 36% 2% 36%;
    border-radius:10px;
    color: white;
}


#contactUs{
    margin: 2% 18% auto;
    border: 3px solid #9b1717;
    border-radius: 12px;
    background-color: white;
    text-align: justify;
    padding: 10px 50px 5px 50px;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.userIndex{
    margin: 3% 22% 3% 22%;
    border: 3px solid #3b87c1;
    border-radius: 12px;
    background-color: white;
    text-align: center;
    font-weight: bold;
    padding: 2%;
}

.pos_right{
    float: left;
    margin-left: 20%;
}

.pos_left{
    float: right;
    margin-right: 23%;
}

.td_indices{
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
.indice_table{
    table-layout: fixed;
    width: 100%;
}

.td_num_indice {
    font-size: 20px;
    vertical-align: top;
    padding: 15px;
    text-align: right;
}

.td_modify{
    vertical-align: top;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}
.td_content{
    font-size: 15px;
    text-align: justify;
    vertical-align: middle;
}
.indiceFieldset{
    background-color: white;
    margin: 4% auto;
    border-radius: 20px;
    width: 45%;
}
fieldset.indiceFieldset legend {
    background-color: #be0c0c;
    color: white;
    border-radius: 20px;
    padding: 6px 12px;
    margin: 2% auto;
    width: 40%;
}

.imgProf{
    width: 40%;
    margin-bottom: 6%;
}

.divProf{
    text-align: center;
    margin-left: 20% ;
    margin-right: 20%;
}

#weekThymio{
    width: 70%;
}

#childNew{
    color: white;
    text-align: center;
    margin: 3% auto;
    border-radius: 20px;
    font-size: 15px;
    padding: 2% 3% 1% 3%;
    width: 68%;
}