.nav-item{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.error{
    font-style: italic;
    color: red;
}

body{
    text-align: center;
}
a:hover {
    color: #3d8b40;
}
#profilIcone{
    width:4%;
    float: right;
}

.introButton{
    font-size: 15px;
    margin-top: 4%;
}

.greenButton{
    text-align: center;
    width: 30%;
    font-size: 25px;
    color: white;
    background-color: lightgreen;
    border-radius: 12px;
    margin-bottom: 2%;
    padding: 1%;
}

.redButton{
    text-align: center;
    width: 30%;
    font-size: 25px;
    color: white;
    background-color: lightcoral;
    border-radius: 12px;
    padding: 1%;
}

.formInscription{
    margin:3% 22% 3% 22%;
    border:2px solid #b52132;
    border-radius: 12px;
    background-color: #ffe6e6;
    text-align: center;
    font-weight: bold;
    padding-bottom: 2%;
}


.legendInscription {

    font-size: 18px;
    color: white;
    padding: 2px;
    border: 1px solid darkred;
    border-radius: 10px;
    background-color: #c80101;
}

#imgThymio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
    margin-top: 2%;
    border-radius: 20px;
}