.nav-item{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

a:hover {
    color: #3d8b40;
}
#profilIcone{
    width:4%;
    float: right;
}

#imgThymio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
    margin-top: 2%;
    border-radius: 20px;
}