<form method="post" action="{{ path('private_challenge_delete', {'id': private_challenge.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ private_challenge.id) }}">
    <button class="btn">Delete</button>
</form>
