{% extends 'base.html.twig' %}

{% block title %}New PrivateChallenge{% endblock %}

{% block body %}
    <h1>Create new PrivateChallenge</h1>

    {{ include('private_challenge/_form.html.twig') }}

    <a href="{{ path('private_challenge_index') }}">back to list</a>
{% endblock %}
