{{ form_start(form) }}

<div style="margin: auto 0;">
<p style="font-family: Roboto, Arial, sans-serif;"><b>Veuillez inserer votre fichier afin de l'envoyer à votre professeur :</b></p>

    {{ form_widget(form.file) }}
</div>
<div class="pos_left">

    <button class="btnG">{{ button_label|default('Faire valider') }}</button>

</div>
{{ form_end(form) }}
