{{ form_start(form) }}
<p style="font-family: Roboto, Arial, sans-serif;"><b>Veuillez inserer votre fichier afin de l'envoyer à votre professeur :</b></p>

    {{ form_widget(form.file) }}
<div class="form-group">
    <br>
    <button class="btnG">{{ button_label|default('Faire valider par notre professeur') }}</button>
</div>
{{ form_end(form) }}
