{% extends 'base.html.twig' %}

{% block title %} Désactivation du déblocage de niveaux {% endblock %}

{% block body %}
    <fieldset class="showChallenge">
        <legend>Désactiver le déblocage de niveaux</legend>
        <div class="deblocage_container">
            <div class="card_deblocage">
                <div class="card-body">
                    <h4 class="card-title"> Attention ! Le déblocage est actuellement activé</h4>
                    <hr class="helpHr">
                    <table>
                        <tr>
                            <td><p> Désactiver le déblocage de niveaux signifie que vos groupes étudiant auront accès
                                    aux défis d'un niveau Z sans avoir nécessairement validé tous les défis des niveaux
                                    inférieurs X et Y </p>
                                <p> Avoir recours à cette désactivation réduira le contrôle que vous aurez sur le
                                    travail de vos groupes en ne supervisant plus leur accès aux défis </p>
                                <p> Exemple : Soit A un de vos groupes étudiants. Si A n'a pas validez l'ensemble des
                                    DixFi Easy, alors cela n'empêchera pas A de pouvoir commencer les DixFi Medium, ou
                                    encore les DixFi Hard, ou même le DixFi final Extreme</p>
                            </td>


                    </table>
                </div>
            </div>
        </div>
        <div align="center">
            <form method="post" action="{{ path('thymio_challenge_desactivate_deblocage') }}"
                  onsubmit="return confirm('Etes-vous sur de vouloir desactiver le déblocage de niveaux ?');">

                <button class="btnR" name="activate">Désactiver</button>
            </form>
        </div>
    </fieldset>

{% endblock %}

