<form method="post" action="{{ path('public_challenge_delete', {'id': publicChallenge.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce défi ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ publicChallenge.id) }}">
    <button class="btnG">Supprimer</button>
</form>
