{{ form_start(form) }}
<div class="bodyContent">

    <fieldset class="showChallenge">
        <legend>Ajouter votre correction</legend>
        <p>Attention ! Le fichier que vous devez télécharger doit être au format JPG, JPEG, ou PNG.</p>

        {{ form_widget(form.fileCorrection) }}
    </fieldset>
    <div class="buttonMargin">
        <button class="btnG">{{ button_label|default('Ajouter la correction') }}</button>
    </div>
</div>

{{ form_end(form) }}
