<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Certificat Semaine de Thymio</title>

    <link href="{{ absolute_url(asset('/css/general.css')) }}" rel="stylesheet">


</head>
<body class="bodyPDF">
<div>
    <p class="h3title"> BRAVO !</p>
    <p class="h2title"> Toute l'équipe Thymio félicite le groupe <b> {{ studentGroup.nickName }} </b> pour son implication dans la semaine des DixFi de Thymio ! </p>
        <img class="imageSolutionPDF" src="{{ absolute_url(asset("/images/certificatThymio.jpg")) }}" alt="certificat Thymio">
</div>
</body>
</html>