{% extends 'base.html.twig' %}

{% block title %}Création d'un nouveau groupe{% endblock %}

{% block body %}

    {{ include('student_group/_form.html.twig') }}

    <a href="{{ path('student_group_index') }}"> <button class="btnG" style="display:inline-block;margin-top: 3em;"> Voir mes groupes </button> </a>

{% endblock %}
