<div class="youtube-video">
{% if thymio_challenge.id == 1 %}
    <iframe width="320" height="300" src="https://www.youtube.com/embed/3ZvGBBzXcK4" allowfullscreen></iframe>
{% elseif thymio_challenge.id == 2 %}
    <iframe width="320" height="300" src="https://www.youtube.com/embed/PqN8Ly9bCYo" allowfullscreen></iframe>
{% elseif thymio_challenge.id == 3 %}
    <iframe width="320" height="300" src="https://www.youtube.com/embed/PqN8Ly9bCYo" allowfullscreen></iframe>
{% elseif thymio_challenge.id == 4 %}
    <iframe width="320" height="300" src="https://www.youtube.com/embed/PqN8Ly9bCYo" allowfullscreen></iframe>
{% elseif thymio_challenge.id == 5 %}
    <iframe width="320" height="300" src="https://www.youtube.com/embed/PqN8Ly9bCYo" allowfullscreen></iframe>
{% elseif thymio_challenge.id == 6 %}
    <iframe width="320" height="300" src="https://www.youtube.com/embed/PqN8Ly9bCYo" allowfullscreen></iframe>
{% elseif thymio_challenge.id == 7 %}
    <iframe width="320" height="300" src="https://www.youtube.com/embed/PqN8Ly9bCYo" allowfullscreen></iframe>
{% elseif thymio_challenge.id == 8 %}
    <iframe width="320" height="300" src="https://www.youtube.com/embed/PqN8Ly9bCYo" allowfullscreen></iframe>
{% elseif thymio_challenge.id == 9 %}
    <iframe width="320" height="300" src="https://www.youtube.com/embed/PqN8Ly9bCYo" allowfullscreen></iframe>
{% elseif thymio_challenge.id == 10 %}
    <iframe width="320" height="300" src="https://www.youtube.com/embed/PqN8Ly9bCYo" allowfullscreen></iframe>
{% endif %}
</div>