{% extends 'base.html.twig' %}

{% block title %}Création d'un compte{% endblock %}

{% block body %}

    {# nous testons si la variable message existe #}
    {% if message is defined %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endif %}

    {{ include('user_guest/_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>

{% endblock %}
